body.honeymoon
  background black url(../images/cruise.jpg) no=repeat top left
  background-size cover
  background-attachment fixed
  font-family 'Source Sans Pro', sans-serif
  font-size 16px

  &.body-padding
    padding-bottom 70px

.navbar
  background-color #0482af
  margin-bottom 0

.navbar
.navbar a
  color #fff !important

.navbar a:hover
  text-decoration underline !important


.page-topper
  background-color #c9e0e9
  margin-bottom 30px
  padding 30px
  text-align center

a
  cursor pointer

h1
h2
h3
h4
h5
h6
  margin-top 0

.left-image
  clearfix()
  margin-bottom 15px

  img
    border-radius 4px
    box-shadow 0 0 10px rgba(0,0,0,0.5)
    margin-right 15px
    overflow hidden
    max-width 200px
    width 50%

  .description
    text-align left

select.selected
  border 2px solid darkgreen
  background-color green
  color white
  font-weight bold

.center
  text-align center

.gallery
  img
    max-height 180px
  .col-sm-4.col-md-4.col-lg-4:nth-child(3n+1)
    clear both

.cart-items span:last-child
  margin-top -6px

.cart-bar
  .center
    font-size 22px
    line-height 50px
  .price
    font-size 24px
    font-weight bold
  .btn
    line-height 1
    margin-top -5px
    margin-left 20px

.mc-modal-bg
  opacity 0.7 !important

.mc-closeModal
  right 5px
  width 60px !important

  &:after
    color white
    content: '✖'
    font-size 20px
    margin-left 5px
