script(
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js"
  data-dojo-config="usePlainJson:true,isDebug:false"
)
script.
  var openSubscribe=function(){document.cookie='MCEvilPopupClosed=no;Path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';require(["mojo/signup-forms/Loader"],function(L){L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"f27fde61e73469239a8e9646f","lid":"8f4404b0dc"})});return false;};
