.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand Eddie And Amanda's Wedding
    ul.nav.navbar-nav.navbar-right
      li: a( href="index.html" ) Wedding
      li: a( href="honeymoon.html" ) Honeymoon
      li: a( onclick="return openSubscribe();" ) Get Updates
