body
  font-family 'Source Sans Pro', sans-serif
  font-size 16px

  &.body-padding
    padding-bottom 70px

.navbar
  background-color #0482af
  margin-bottom 0

.navbar
.navbar a
  color #fff !important

.navbar a:hover
  text-decoration underline !important

a
  cursor pointer

h1
h2
h3
h4
h5
h6
  margin-top 0

img.pull-left
  margin-right 10px
