- var pageTitle = 'Pizza and Lightsabers'
include assets/templates/_head

.container
  .jumbotron
    img.img-thumbnail.pull-left( src="/assets/images/profile.jpg" )
    h1 I am Eddie

    p.lead Nothing to see here yet.

include assets/templates/_foot
