- var pageTitle = 'Honeymoon'
- var wedding = true
- var bodyClass = 'honeymoon'
include templates/_head

.page-topper
  h1
    | The Honeymoon
    br
    small Bahamas and Disneyworld: June 14-22

.container
  .jumbotron
    .left-image
      h4 Greetings Friends and Family,
      p Thank you for your support and well wishes while we were on our cruise and at Disneyworld. It meant a lot to us.
      p We have a lot of pictures from the honeymoon and we will put them on Facebook.

include templates/_foot
