- var pageTitle = 'Thank You'
- var wedding = true
doctype html
html(lang="en")
  include templates/_head
  body.honeymoon
    include templates/_nav

    .page-topper
      h1
        | Thank You

    .container
      .jumbotron
        .left-image
          .img-thumbnail.pull-left
            img( src="images/hawaii.jpg" )
        .description
          h3 We Appreciate Your Love and Support
          p Thank you for your gift. It will bring that much more happiness on our honeymoon as we start our new married life together.
          p: a( href="index.html" ) &laquo; Back to the wedding page

    include templates/_foot
