- var pageTitle = 'Thank You'
doctype html
html(lang="en")
  include templates/_head
  body
    include templates/_nav

    .page-topper
      h1
        | Thank You

    .container
      .jumbotron
        .left-image
          img.img-thumbnail.pull-left( src="images/hawaii.jpg" )

          h4 We Appreciate Your Love and Support
          p Thank you for your gift. It will bring that much more happiness on our honeymoon as we start our new married life together.
