- var pageTitle = 'Thank you'
doctype html
html(lang="en")
  include templates/_head
  body
    include templates/_nav

    .page-topper
      h1 The Honeymoon

      .container
        .left-image
          .img-round.pull-left
            img( src="images/hawaii.jpg" )
          .description
            h3 Thank you
            p Thank you for the present and helping us get closer to an amazing honeymoon.
            p: a( href="index.html" ) &laquo; Back to the wedding page
