- var pageTitle = 'Wedding'
- var wedding = true
doctype html
html(lang="en")
  include templates/_head
  body
    include templates/_nav

    .page-topper
      h1
        | Wedding Details
        br
        span.small June 13, 2005

      .container
        .left-image
          img.img-thumbnail.pull-left( src="images/toast.jpg" )
          .description
            p After the wedding, we will put images and other keepsakes from the wedding on here.

            p
              a.btn.btn-primary( href="honeymoon.html" )
                | See Our Honeymoon Details

    .container
      .jumbotron
        h2.center Engagement Day Photos
        .row
          img.col-md-4.img-thumbnail.pull-left( src="images/jealous.jpg" )
          img.col-md-3.img-thumbnail.pull-left( src="images/bride-ears.jpg" )
          img.col-md-5.img-thumbnail.pull-left( src="images/the-ring.jpg" )
