- var pageTitle = 'Wedding'
- var wedding = true
include templates/_head

.page-topper
  h1
    | The Wedding
    br
    small Cerritos, CA: June 13

.container
  .jumbotron
    .left-image
      h4 Greetings Friends and Family,
      p Thank you for sharing in our special day, either in person or from afar. Your support and well wishes meant a lot to us.
      p We have a lot of pictures from the wedding and we have put them on Facebook.

include templates/_foot
